<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProyectoWPF_Acceso.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ProyectoWPF_Acceso.Properties.Settings>
      <setting name="MethodIACustomVision" serializeAs="String">
        <value>v3.0/Prediction/768c2adc-d877-4c94-908a-847930e8426a/classify/iterations/Iteration1/url</value>
      </setting>
      <setting name="EndpointIACustomVision" serializeAs="String">
        <value>https://customvisionproyectoparkingdint-prediction.cognitiveservices.azure.com/customvision/</value>
      </setting>
      <setting name="syncKey" serializeAs="String">
        <value>NTY2OTI3QDMxMzkyZTM0MmUzMG85Q0toWFI2U2dGcVIwdjlXRHBDVGlHanpxZFlWVEJLcnZWUWtuSE5EekU9</value>
      </setting>
      <setting name="RutaConexionDatabase" serializeAs="String">
        <value>Data Source=C:/ProyectoParking/database/parking.db</value>
      </setting>
      <setting name="EndpointIACara" serializeAs="String">
        <value>https://servicio-face-proyecto-parking.cognitiveservices.azure.com/face/v1.0/</value>
      </setting>
      <setting name="LicenseKeyIACara" serializeAs="String">
        <value>38cac79a9bd04f648466d0b24ad1d9f5</value>
      </setting>
      <setting name="PLAZAS_COCHE" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PLAZAS_MOTO" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="EndpointImgs" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=actividadtema5;AccountKey=Plt4O/P0i4coCkog+BsK/FeBXHnz6sTqtlfVW2dXCT8FIkwfO9teD7fCI5rSwbNau2dvcv3Sf9AxmkkUeOyW9A==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="EndpointMatricula" serializeAs="String">
        <value>https://reconocimientomatriculasproyectoparking.cognitiveservices.azure.com/vision/v3.2/read/analyze</value>
      </setting>
      <setting name="PredictionKeyIACustomVision" serializeAs="String">
        <value>1d14987690a64deda0d17d7790d49cea</value>
      </setting>
    </ProyectoWPF_Acceso.Properties.Settings>
  </applicationSettings>
</configuration>